/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

h1, h2, h3, h4, h5{
    font-family: 'Sorts Mill Goudy', serif!important;
    font-weight: bold;
} 
p, a {
    font-family: 'Sorts Mill Goudy', serif!important;
color: #ffff;
 }
 ul, li {
    font-family: 'Sorts Mill Goudy', serif!important;
   text-decoration: none;
    list-style: none;
   
 }

.wrapper h2 {
  margin-top: 100px;
}


.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #005aea9f;
  background: -webkit-linear-gradient(bottom, #005bea, #00c5fb5e);
  background: -o-linear-gradient(bottom, #005bea, #00c5fb5e);
  background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
  background: linear-gradient(bottom, #005bea, #00c5fb57);
  opacity: 0.9;
}


/* .form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.26);
  width: 285px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
} */
/* .form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #44c4e7;
  font-size: 18px;
  font-weight: 400;
} */
.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
      font-family: 'Sorts Mill Goudy', serif!important;
}
.form input:focus {
  color: #333;
  border: 1px solid #44c4e7;
}
.form button {
  font-family: 'Sorts Mill Goudy', serif!important;
  cursor: pointer;
  background: #44c4e7;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;

}
.form button:hover {
      font-family: 'Sorts Mill Goudy', serif!important;
  background: #369cb8;
}
.sub_title {
  margin-top: 50px;
  margin-bottom: 30px;
}